@import "tailwindcss/base";

/* Write your own custom base styles here */

/* Start purging... */
@import "tailwindcss/components";
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@import "tailwindcss/utilities";
/* Stop purging. */

/* Your own custom utilities */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.90rem;
}

h3 {
  font-size: 1.3rem;
}

.sass-test-class {
  &:hover {
    color: red;
  }
}