@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.90rem;
}

h3 {
  font-size: 1.3rem;
}